.sidebar {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sidebarItem {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 95%;
  padding: 0 0 0 30px;
}
.sidebarIcon {
  height: 17px;
  width: 17px;
  margin: 0 10px 0 0;
}
.currentSidebarItem {
  background-color: #f5f7f7;
}
